body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.banner {
  background-image: url("https://png.pngtree.com/background/20210710/original/pngtree-shine-technology-touch-key-earth-advertising-background-picture-image_978554.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.home {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201026/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-image_438818.jpghttps://png.pngtree.com/background/20210710/original/pngtree-shine-technology-touch-key-earth-advertising-background-picture-image_978554.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
