*{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to right,#BFBFBB, #2B2B28,#4A4A49);
}
.nav_box{
  width: 80%;
  display: flex;
  align-items: center;
  margin-left: 40px;

}
.my_shop{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  font-family:'Times New Roman', Times, serif;
  cursor: pointer;
}
.carts{
  cursor: pointer;
  align-self: center;
  font-size: 1.5rem;
  display: flex;
}
.size{
  font-size: 15px;
}